<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
{% block mt %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>{% block title %}Login{% endblock %}</title>
<style>{% block scr %}{% endblock %}</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
#search {
            width: 70%;
            margin: auto;
        }

        #map{
        position:fixed;
        width:1200px;
        height:700px;
        background-color: grey;
        top:60px;
        right:calc(50% - 600px);
    }
    /*******************Modal Window Style**********************/
    #modal{
        position:relative;
        width:300px;
        height:500px;
        background-color: white;
        border:1px solid black;
        border-radius: 15px;
        top:calc(50% - 250px);
        text-align: center;
        display:none;
    }
    #filterForm{
        top:50px;
        text-align: center;
    }
    .form-check-label{
        margin-right:3px;
    }
    #filterButton{
        position:absolute;
        bottom:30px;
    }
    /*******************Info Div Style**********************/
        #infoDiv{
            width:200px;
            height:500px;
            border:2px solid black;
            z-index: 3;
            border-radius: 30px;
            position: absolute;
            right: 50px;
            top: calc(50% - 250px);
            transition: width 1s;
            background-color: white;
        }
        #imgDisplay{
            width:120px;
            height:120px;
            position: absolute;
            top:20px;
            right: calc(50% - 60px);
            border-radius: 30px;
        }
        #orderForm{
            position:absolute;
            top:60px;
            left:50px;
            display:none;
            transition:visibility 1s;
        }
        #sellerInfo{
            display:none;
            position:absolute;
            top:60px;
            right:70px;
            text-align: center;
        }
        iframe{
            z-index: -1;
        }
</style>
</head>
<body>
<div class="container-fluid" style="z-index: 2000">
        <div class="row">
            <!-- Left sidebar -->
            <div class="col-sm-auto bg-light sticky-top" style="background-color: transparent;">
                <!-- Your left sidebar content here... -->

                <!-- Profile dropdown -->
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi-person-circle h2"></i>
                    </a>
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                       <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">

    <!-- Icons in the dropdown -->
    <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center" >
        <li class="nav-item">
            <a href="/" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="bi-house fs-1"></i>
            </a>
        </li>
        <li>
            <a href="/tables" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                <i class="bi-bag fs-1"></i>
            </a>
        </li>
        <li>
            <a href="/logout" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Logout">
                <i class="bi-box-arrow-right fs-1"></i>
            </a>
        </li>
    </ul>
</div>

                    </ul>
                </div>

                <a href="/addtool" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none " id="filterButton" aria-expanded="false">
                        <i class="bi bi-plus-circle" style = "font-size:2.5rem;"></i>
                    </a>
            </div>

            <!-- Right side content -->
            <div class="col-sm p-3 min-vh-100">
                <!-- search section at the top -->
                <div class="sticky-top mb-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group add-on">
                            <form method="post">
                                <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="bi bi-search"></i></button>
                            </div>
                            </form>
                        </div>
                    </form>
                <br>
                    {% block map_content %}{% endblock %}
                </div>
                <!-- Rest of your right-side content here... -->
                <div id="modal" class="container" style="z-index: 100">
                    <br><br>
                    <form class = "form" id = "filterForm"> <!--Needs action, either to controller or AJAX-->

                        <!--Slider for price-->
                        <label for="price" id = "priceLabel">>$1,000.00</label>
                        <input type ="range" id="priceRange" min="1" max ="1000" value = "1000" name ="price">
                        <br><br>

                        <!--Selection for distance-->
                        <select name="distance">
                            <option value="10">10km</option>
                            <option value="15">15km</option>
                            <option value="20">20km</option>
                            <option value="25">25km</option>
                        </select>
                        <br><br>

                        <!--Verification checkbox-->
                        <label for ="verified" class = "form-check-label">Only Show Verified Vendors</label>
                        <input type ="checkbox" name = "verified" class = "form-check-input">
                        <br><br>

                        <!--Holder for brands, dynamically generated based on returned brands-->
                        <div style = "text-align: right; width: fit-content; display: inline-block;" id = "brands"></div>
                        <button type = "submit" style = "position:absolute; right:15px; bottom:15px;" class = "btn btn-primary" id="applyFilter">Apply</button>
                    </form>
                </div>

{#                <div id = "infoDiv">#}
{#            <img id = "imgDisplay"> <!--Piece image, needs to be updated based on selection-->#}
{##}
{#            <!--Piece info-->#}
{#            <div style = "text-align: center; width: 100%; top: 160px; position: absolute;">#}
{#                <h3>Piece Name</h3>#}
{#                <br>#}
{#                <p id="description">Short description</p>#}
{#            </div>#}
{##}
{#            <!--Seller info (displayed on show more-->#}
{#            <div id="sellerInfo">#}
{#                <h3 style="margin:0;">Owner Name</h3>#}
{#                <br><br>#}
{#                <p>Owner Info</p>#}
{#            </div>#}
{##}
{#            <!--Order controls, displayed on show more-->#}
{#            <div id = "orderForm">#}
{#                <form class ="form-group">#}
{#                    <!--Rent from control, value needs to be updated and limited-->#}
{#                    <label for = "startTime">Rent From: </label>#}
{#                    <input type = "datetime-local" class ='form-control' name = "startTime" id="startTime" value="2023-10-31T12:00"><br>#}
{##}
{#                    <!--Rent to control, value needs to be updated and limited-->#}
{#                    <label for = "endTime">To: </label>#}
{#                    <input type = "datetime-local" class ='form-control' name = "endTime" id="endTime" value="2023-10-31T12:00"><br>#}
{##}
{#                    <!--Deliver/pickup control-->#}
{#                    <div class = "form-check">#}
{#                        <input type = "radio" name = "deliver" class ="form-check-input" checked>#}
{#                        <label class = "form-check-label" for ="deliver">Deliver</label>#}
{#                    </div>#}
{#                    <div class = "form-check">#}
{#                        <input type = "radio" name = "deliver" class ="form-check-input">#}
{#                        <label class = "form-check-label" for ="deliver">Pickup</label>#}
{#                    </div>#}
{#                    <br><br>#}
{##}
{#                    <!--Total price display-->#}
{#                    <h4 id="total">Total: $0.00</h4>#}
{#                    <button type = "submit" class ="btn btn-primary">Submit</button>#}
{#                </form>#}
{#            </div>#}
{##}
{#            <!--Button to expand/collapse info-->#}
{#            <button id="openInfodiv" class = "btn btn-primary" style = "position: absolute; font-size:14px; width:100px; bottom:30px; right:30px;">Show more</button>#}
{#        </div>#}
{#            </div>#}
{#        </div>#}
    </div>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        {% if category=='error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endif %}
        {% if category == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}
{% endwith %}
<div>{% block content %}{% endblock %}</div>
<footer class="footer fixed-bottom bg-light">
  <div class="container">
    <span class="text-muted">Last updated: {{ current_time }}</span>
  </div>
</footer>
<script defer src="https://pyscript.net/alpha/pyscript.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script>

        const brandArray = ["Makita", "Dewalt", "Craftsman"]; //Hard coded in brands, need to be updated by controller or AJAX
        populateBrands(brandArray);

        //Populates brand holder with brands
        function populateBrands(brandArray) {
            let brandString = "";
            //Iterates, adding a label and checkbox for each brand
            for (let brand in brandArray) {
                brandString += "<label for = '" + brandArray[brand] + "' class = 'form-check-label'>" + brandArray[brand] + "</label>";
                brandString += "<input type = 'checkbox' name = '" + brandArray[brand] + "' class = 'form-check-input'><br>";
            }

            $("#brands").html(brandString);
        }

        //Event listener for updating price slider
        $("#priceRange").on('input change', function(){
            var val = $(this).val();
            let USD = new Intl.NumberFormat('en-US', {style:'currency', currency:'USD'}); //USD number format
            $("#priceLabel").text("" + USD.format(val));
        });

        $("#filterButton").click(showModal);

        function showModal(){
            $("#modal").show();
            $("#filterButton").click(hideModal);
        }

        function hideModal(){
            $("#modal").hide();
            $("#filterButton").click(showModal);
        }

        //Need to do:
        //Filter choices based on database, not hardcoded (AJAX)
        //Join into map


        /***********Info Code***********/
        let CAD = new Intl.NumberFormat('en-US', {style:'currency', currency:'USD'}); //USD number format

        /****************Event Listeners****************/
        //Event listener to expand/collapse info
        $("#openInfodiv").click(showInfoDiv);

        //Changes total price on end-time change
        $("#endTime").change(function(){
            let totTime = document.getElementById('endTime').valueAsNumber - document.getElementById('startTime').valueAsNumber;
            totTime /= 1000*60*60;
            $("#total").text("Total: $" + CAD.format(totTime * 7.32));
            //Needs update from database
        });

        //Changes total price on start-time change
        $("#startTime").change(function(){
            let totTime = document.getElementById('endTime').valueAsNumber - document.getElementById('startTime').valueAsNumber;
            totTime /= 1000*60*60;
            $("#total").text("Total: $" + CAD.format(totTime * 7.32));
            //Needs update from database
            //Needs to change min value for end-time so not negative time
        });

        //Expands infoDiv and displays more info
        function showInfoDiv(){
            $("#infoDiv").css("width", "calc(100% - 200px)");
            setTimeout(function(){
                $("#orderForm").show();
                $("#sellerInfo").show();
            }, 750);
            $("#description").text('Long Description'); //Needs to be updated from database

            //Changes event listener to collapseInfoDiv
            $("#openInfodiv").off();
            $(this).text("Show less");
            $("#openInfodiv").click(collapseInfoDiv);
        }

        //Collapses infoDiv and hides more info
        function collapseInfoDiv(){
            $("#infoDiv").css("width", "200px");
            $("#description").text('Short Description'); //Needs to be updated from database
            $("#orderForm").hide();
            $("#sellerInfo").hide();

            //Changes event listener to showInfoDiv
            $("#openInfodiv").off();
            $(this).text("Show more");
            $("#openInfodiv").click(showInfoDiv);
        }

</script>
</body>
</html>