<html>
<!--Bootstrap and JQuery dependency-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<style>
    #map{
        position:fixed;
        width:1200px;
        height:700px;
        background-color: grey;
        top:60px;
        right:calc(50% - 600px);
    }
    #modal{
        position:relative;
        width:300px;
        height:500px;
        background-color: white;
        border:1px solid black;
        border-radius: 15px;
        top:calc(50% - 250px);
        text-align: center;
    }
    #filterForm{
        top:50px;
        text-align: center;
    }
    .form-check-label{
        margin-right:3px;
    }

</style>
    <div id="map"> <!--Map goes here, just included to demonstrate wigit-->

        <!--Beginning of widgit-->
        <div id="modal" class="container">
            <br><br>
            <form class = "form" id = "filterForm"> <!--Needs action, either to controller or AJAX-->

                <!--Slider for price-->
                <label for="price" id = "priceLabel">>$1,000.00</label>
                <input type ="range" id="priceRange" min="1" max ="1000" value = "1000" name ="price">
                <br><br>

                <!--Selection for distance-->
                <select name="distance">
                    <option value="10">10km</option>
                    <option value="15">15km</option>
                    <option value="20">20km</option>
                    <option value="25">25km</option>
                </select>
                <br><br>

                <!--Verification checkbox-->
                <label for ="verified" class = "form-check-label">Only Show Verified Vendors</label>
                <input type ="checkbox" name = "verified" class = "form-check-input">
                <br><br>

                <!--Holder for brands, dynamically generated based on returned brands-->
                <div style = "text-align: right; width: fit-content; display: inline-block;" id = "brands"></div>

                <button type = "submit" style = "position:absolute; right:15px; bottom:15px;" class = "btn btn-primary">Apply</button>
            </form>
        </div>
        <!--End of wigit-->
    </div>

    <script>
        const brandArray = ["Makita", "Dewalt", "Craftsman"]; //Hard coded in brands, need to be updated by controller or AJAX
        populateBrands(brandArray);

        //Populates brand holder with brands
        function populateBrands(brandArray) {
            let brandString = "";
            //Iterates, adding a label and checkbox for each brand
            for (let brand in brandArray) {
                brandString += "<label for = '" + brandArray[brand] + "' class = 'form-check-label'>" + brandArray[brand] + "</label>";
                brandString += "<input type = 'checkbox' name = '" + brandArray[brand] + "' class = 'form-check-input'><br>";
            }

            $("#brands").html(brandString);
        }

        //Event listener for updating price slider
        $("#priceRange").on('input change', function(){
            var val = $(this).val();
            let USD = new Intl.NumberFormat('en-US', {style:'currency', currency:'USD'}); //USD number format
            $("#priceLabel").text("" + USD.format(val));
        });

        //Need to do:
        //Filter choices based on database, not hardcoded (AJAX)
        //Join into map
    </script>
</html>