<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row g-0">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image">
                        <img id="signup_img" src="{{url_for('static', filename='signup_pic.png')}}" alt="Login Visual" class="bg-login-image" style="width: 100%; height: auto; margin-top:33px; margin-left: 28px;">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" method = "post">
                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="fname" name ="fname"
                                            placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="lname" name ="lname"
                                            placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control form-control-user" id="uname" name ="uname"
                                        placeholder="Username">
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="pword" name ="pword" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" name ="password"
                                            id="exampleRepeatPassword" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user d-block mx-auto">
                                    Register Account
                                </button>
    
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap 5 JavaScript Bundle with Popper -->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
